

body {
    /*background: #f44d3c;*/
    background-color: #FFFFDD;
    padding-top: 30px;
}


h1 {
    color: #FFFFFF;

}

.page-header { 
    border-bottom:none; 
}

section {
    width: 100vw;
    height: 100vh;
}

.btn-rnd {
    display: block;
    position: relative;
    bottom: -20px;
    left: 50%;
    font-family: "BPG Nino Medium Caps", sans-serif;
    transform: translateX(-50%);
    background-color: #33a6cc;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    opacity: 1;
    transition: all 0.3s linear;
}

.btn-rnd:hover {
    background: #FFFFFF;
    color: #33a6cc;
}

.btn-rnd:focus, .btn-rnd:active:focus, .btn-rnd.active:focus {
    outline: 0 none;
}

#quote {
    font-family: "BPG Nino Medium Caps", sans-serif;
    color: #33a6cc;
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

#author {
    font-family: "BPG Ingiri Arial", sans-serif;
    color: #33a6cc;
    font-size: 25px;
    text-align: center;
}

/*.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}
*/
   